################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tickets.API/obj
/Tickets.Application/obj
/Tickets.Application.Tests/obj
/Tickets.Domain/obj
/Tickets.Domain.Tests/obj
/Tickets.Infrastructure/obj
/Tickets.ReadModel/obj
/Tickets.API/bin/Debug/net9.0
/Tickets.Application/bin/Debug/net9.0
/Tickets.Application.Tests/bin/Debug/net9.0
/Tickets.Domain/bin/Debug/net9.0
/Tickets.Domain.Tests/bin/Debug/net9.0
/Tickets.Infrastructure/bin/Debug/net9.0
/Tickets.ReadModel/bin/Debug/net9.0
